<?xml version="1.0"?>
<config>
    <modules>
        <Flagbit_ScheduleDebug>
            <version>0.0.1</version>
        </Flagbit_ScheduleDebug>
    </modules>
    <global>
        <helpers>
            <flagbit_scheduledebug>
                <class>Flagbit_ScheduleDebug_Helper</class>
            </flagbit_scheduledebug>
        </helpers>
        <models>
            <flagbit_scheduledebug>
                <class>Flagbit_ScheduleDebug_Model</class>
            </flagbit_scheduledebug>
        </models>
        <resources>
            <flagbit_scheduledebug_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flagbit_scheduledebug_write>
            <flagbit_scheduledebug_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flagbit_scheduledebug_read>
        </resources>
        <events>
            <!-- Listening on Aoe Scheduler Events -->
            <cron_before>
                <observers>
                    <flagbit_scheduledebug>
                        <class>flagbit_scheduledebug/observer</class>
                        <method>runActionsBeforeCron</method>
                    </flagbit_scheduledebug>
                </observers>
            </cron_before>
            <cron_after>
                <observers>
                    <flagbit_scheduledebug>
                        <class>flagbit_scheduledebug/observer</class>
                        <method>runActionsAfterCron</method>
                    </flagbit_scheduledebug>
                </observers>
            </cron_after>
            <cron_after_error>
                <observers>
                    <flagbit_scheduledebug>
                        <class>flagbit_scheduledebug/observer</class>
                        <method>runActionsAfterCronError</method>
                    </flagbit_scheduledebug>
                </observers>
            </cron_after_error>
            <cron_after_success>
                <observers>
                    <flagbit_scheduledebug>
                        <class>flagbit_scheduledebug/observer</class>
                        <method>runActionsAfterCronSuccess</method>
                    </flagbit_scheduledebug>
                </observers>
            </cron_after_success>
            <!-- Listening others custom events-->
            <mip_axapta_product_before_save>
                <observers>
                    <flagbit_scheduledebug>
                        <class>flagbit_scheduledebug/observer</class>
                        <method>runMipAxaptaProductBeforeSave</method>
                    </flagbit_scheduledebug>
                </observers>
            </mip_axapta_product_before_save>
            <mip_axapta_product_after_save>
                <observers>
                    <flagbit_scheduledebug>
                        <class>flagbit_scheduledebug/observer</class>
                        <method>runMipAxaptaProductAfterSave</method>
                    </flagbit_scheduledebug>
                </observers>
            </mip_axapta_product_after_save>
        </events>
    </global>
    <default>
        <flagbit_scheduledebug>
            <cron_before_actions>flagbit_scheduledebug/action_before_cron</cron_before_actions>
            <cron_after_actions>flagbit_scheduledebug/action_after_cron</cron_after_actions>
            <cron_after_error_actions>flagbit_scheduledebug/action_after_cron_error</cron_after_error_actions>
            <cron_after_success_actions>flagbit_scheduledebug/action_after_cron_success</cron_after_success_actions>
        </flagbit_scheduledebug>
    </default>
</config>
